<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZoneAppTesting.Functional.Settings.Merchant.MerchantSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZoneAppTesting.Functional.Settings.Topup.TopupSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZoneAppTesting.Functional.Settings.Ask.AskSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZoneAppTesting.Functional.Settings.Send.SendSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZoneAppTesting.Functional.Settings.SendSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZoneAppTesting.Functional.Settings.Sidebar.SidebarSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZoneAppTesting.Functional.Settings.Sidebar.Sidebar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZoneAppTesting.Functional.Settings.Auth.AuthExtended" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZoneAppTesting.Functional.Settings.Auth.AuthSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZoneAppTesting.Functional.Settings.Auth.Auth" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZoneAppTesting.Functional.Settings.Merchant.MerchantSettings>
            <setting name="Merchant" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/merchant_fab</value>
            </setting>
            <setting name="SelectedMerchant" serializeAs="String">
                <value>//android.widget.TextView[@index='0']</value>
            </setting>
            <setting name="SubscriptionButton" serializeAs="String">
                <value>//android.widget.TextView[@index='0' and @text='Swift 4G Subscription']</value>
            </setting>
            <setting name="CustomerIDField" serializeAs="String">
                <value>//android.widget.EditText[@index='1' and @text='Enter Customer ID']</value>
            </setting>
            <setting name="PaymentItemSelect" serializeAs="String">
                <value>//android.widget.ImageView[@index='1']</value>
            </setting>
            <setting name="SelectedPaymentItem" serializeAs="String">
                <value>//android.widget.TextView[@index='0']</value>
            </setting>
            <setting name="NextButton" serializeAs="String">
                <value>//android.widget.Button[@text='Next' and @index='0']</value>
            </setting>
            <setting name="AmountField" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter Amount' and @index='1']</value>
            </setting>
            <setting name="TransactionSummary" serializeAs="String">
                <value>//android.widget.TextView[@text='Swift Services' and @index='1']</value>
            </setting>
            <setting name="PayButton" serializeAs="String">
                <value>//android.widget.Button[@text='Pay' and @index='0']</value>
            </setting>
            <setting name="SummaryElements" serializeAs="String">
                <value>//android.widget.TextView[@index='1']</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.Merchant.MerchantSettings>
        <ZoneAppTesting.Functional.Settings.Topup.TopupSettings>
            <setting name="TopupQuickLaunch" serializeAs="String">
                <value>//android.widget.Button[@text='Top-Up' and @index='3']</value>
            </setting>
            <setting name="Topup" serializeAs="String">
                <value>//android.widget.Button[@text='Top-Up' and @index='0']</value>
            </setting>
            <setting name="TopupAmount" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter Amount' and @index='1']</value>
            </setting>
            <setting name="TopupNextButton" serializeAs="String">
                <value>//android.widget.Button[@text='Next' and @index='0']</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value>//android.widget.TextView[@content-desc='Phone Number' and @index='0']</value>
            </setting>
            <setting name="SearchField" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/search</value>
            </setting>
            <setting name="PhoneTopupImage" serializeAs="String">
                <value>//android.widget.ImageView[@index='1']</value>
            </setting>
            <setting name="PhoneTopupClick" serializeAs="String">
                <value>//android.widget.TextView[@text='Phone Number' and @index='0']</value>
            </setting>
            <setting name="PhoneNumberField" serializeAs="String">
                <value>//android.widget.EditText[@index='0']</value>
            </setting>
            <setting name="ProceedButton" serializeAs="String">
                <value>//android.widget.Button[@text='Proceed' and @index='2']</value>
            </setting>
            <setting name="CancelButton" serializeAs="String">
                <value>//android.widget.Button[@text='Cancel' and @index='1']</value>
            </setting>
            <setting name="TELCO" serializeAs="String">
                <value>//android.widget.ImageView[@index='1']</value>
            </setting>
            <setting name="AmountField" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter Amount' and @index='1']</value>
            </setting>
            <setting name="SelectedTelco" serializeAs="String">
                <value>//android.widget.TextView[@index='0']</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.Topup.TopupSettings>
        <ZoneAppTesting.Functional.Settings.Ask.AskSettings>
            <setting name="AskButton" serializeAs="String">
                <value>//android.widget.Button[@text='Ask' and @index='0']</value>
            </setting>
            <setting name="AskAmount" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter Total Amount' and @index='1']</value>
            </setting>
            <setting name="AskDescription" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter message and send picture' and @index='1']</value>
            </setting>
            <setting name="AskAddImage" serializeAs="String">
                <value>//android.widget.ImageView[@index='0']</value>
            </setting>
            <setting name="AskButtonGo" serializeAs="String">
                <value>//android.widget.Button[@text='ASK' and @index='0']</value>
            </setting>
            <setting name="SelectImageGallery" serializeAs="String">
                <value>//android.widget.TextView[@index='1' and @text='Gallery']</value>
            </setting>
            <setting name="ImageViewGallery" serializeAs="String">
                <value>//android.view.View[@index='0']</value>
            </setting>
            <setting name="AskFromInside" serializeAs="String">
                <value>//android.widget.ImageView[@content-desc='Ask n Receive GoLive']</value>
            </setting>
            <setting name="GlobalContactList" serializeAs="String">
                <value>//android.widget.TextView[@index='0']</value>
            </setting>
            <setting name="AskQuickLaunch" serializeAs="String">
                <value>//android.widget.Button[@text='Ask' and @index='1']</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.Ask.AskSettings>
        <ZoneAppTesting.Functional.Settings.Send.SendSettings>
            <setting name="Send" serializeAs="String">
                <value>//android.widget.Button[@text='Send' and @index='0']</value>
            </setting>
            <setting name="SendToSelfSelect" serializeAs="String">
                <value>//android.widget.TextView[@text='Kehinde Adeoya  ' and @index='0']</value>
            </setting>
            <setting name="SendAmount" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter Amount' and @index='1']</value>
            </setting>
            <setting name="SendRemarks" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter Remarks' and @index='1']</value>
            </setting>
            <setting name="SendNextButton" serializeAs="String">
                <value>//android.widget.Button[@text='NEXT' and @index='0']</value>
            </setting>
            <setting name="SendSummaryButton" serializeAs="String">
                <value>//android.widget.Button[@text='Next' and @index='0']</value>
            </setting>
            <setting name="CardPAN" serializeAs="String">
                <value>//android.widget.TextView[@index='1']</value>
            </setting>
            <setting name="CardPIN_1" serializeAs="String">
                <value>//android.widget.TextView[@text='2' and @index='0']</value>
            </setting>
            <setting name="CardPIN_2" serializeAs="String">
                <value>//android.widget.TextView[@text='0' and @index='0']</value>
            </setting>
            <setting name="CardPIN_3" serializeAs="String">
                <value>//android.widget.TextView[@text='1' and @index='0']</value>
            </setting>
            <setting name="CardPIN_4" serializeAs="String">
                <value>//android.widget.TextView[@text='1' and @index='0']</value>
            </setting>
            <setting name="ConfirmPassOrFail" serializeAs="String">
                <value>//android.widget.LinearLayout[@index='1']</value>
            </setting>
            <setting name="InsideSend" serializeAs="String">
                <value>//android.widget.ImageView[@content-desc='Zone Send GoLive']</value>
            </setting>
            <setting name="FailedRetry" serializeAs="String">
                <value>//android.widget.TextView[@text='Retry' and @index='1']</value>
            </setting>
            <setting name="PassedReplay" serializeAs="String">
                <value>//android.widget.TextView[@text='Replay' and @index='1']</value>
            </setting>
            <setting name="PassFeedback" serializeAs="String">
                <value>//android.widget.TextView[@index='0']</value>
            </setting>
            <setting name="LoggedInUser" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/label_full_name</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/name</value>
            </setting>
            <setting name="SummaryPageFields" serializeAs="String">
                <value>//android.widget.TextView</value>
            </setting>
            <setting name="CardPINPad" serializeAs="String">
                <value>//android.widget.TextView</value>
            </setting>
            <setting name="CardPassedValue" serializeAs="String">
                <value>//android.widget.TextView[@text="</value>
            </setting>
            <setting name="NumberOfCards" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/card_indicator</value>
            </setting>
            <setting name="CardImage" serializeAs="String">
                <value>//android.widget.ImageView[@index='0']</value>
            </setting>
            <setting name="AddCardButton" serializeAs="String">
                <value>//android.widget.Button[@text='Add Card' and @index='0']</value>
            </setting>
            <setting name="CardDigits" serializeAs="String">
                <value>//android.widget.TextView[@index='0']</value>
            </setting>
            <setting name="BeneficiaryButton_1" serializeAs="String">
                <value>//android.widget.ImageView[@index='1']</value>
            </setting>
            <setting name="BeneficiaryButton_2" serializeAs="String">
                <value>//android.widget.TextView[@text='Account Number' and @index='0']</value>
            </setting>
            <setting name="BeneficiaryAccount" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter Account Number' and @index='1']</value>
            </setting>
            <setting name="BeneficiaryBank" serializeAs="String">
                <value>//android.widget.TextView[@index='1']</value>
            </setting>
            <setting name="BeneficiaryProceedButton" serializeAs="String">
                <value>//android.widget.Button[@text='Proceed' and @index='2']</value>
            </setting>
            <setting name="BeneficiarySummaryPage" serializeAs="String">
                <value>//android.widget.TextView[@index='1']</value>
            </setting>
            <setting name="BeneficiaryConfirm" serializeAs="String">
                <value>//android.widget.Button[@text='CONFIRM' and @index='0']</value>
            </setting>
            <setting name="BenficiarySummaryNameField" serializeAs="String">
                <value>//android.widget.TextView[@index='1']</value>
            </setting>
            <setting name="SendToZoneContact" serializeAs="String">
                <value>//android.widget.TextView[@index='0']</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/ic_action_search</value>
            </setting>
            <setting name="SearchField" serializeAs="String">
                <value>//android.widget.EditText[@index='1']</value>
            </setting>
            <setting name="SendQuickLaunch" serializeAs="String">
                <value>//android.widget.Button[@index='0' and @text='Send']</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.Send.SendSettings>
        <ZoneAppTesting.Functional.Settings.SendSettings>
            <setting name="Send" serializeAs="String">
                <value>//android.widget.Button[@text='Send' and @index='0']</value>
            </setting>
            <setting name="SendToSelfSelect" serializeAs="String">
                <value>//android.widget.TextView[@text='Kehinde Adeoya  (Me) ' and @index='0']</value>
            </setting>
            <setting name="SendAmount" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter Amount' and @index='1']</value>
            </setting>
            <setting name="SendRemarks" serializeAs="String">
                <value>//android.widget.EditText[@text='Enter Remarks' and @index='1']</value>
            </setting>
            <setting name="SendNextButton" serializeAs="String">
                <value>//android.widget.Button[@text='NEXT' and @index='0']</value>
            </setting>
            <setting name="SendSummaryButton" serializeAs="String">
                <value>//android.widget.Button[@text='NEXT' and @index='0']</value>
            </setting>
            <setting name="CardPAN" serializeAs="String">
                <value>//android.widget.TextView[@text='524282*********8204' and @index='1']</value>
            </setting>
            <setting name="CardPIN_1" serializeAs="String">
                <value>//android.widget.TextView[@text='2' and @index='0']</value>
            </setting>
            <setting name="CardPIN_2" serializeAs="String">
                <value>//android.widget.TextView[@text='0' and @index='0']</value>
            </setting>
            <setting name="CardPIN_3" serializeAs="String">
                <value>//android.widget.TextView[@text='1' and @index='0']</value>
            </setting>
            <setting name="CardPIN_4" serializeAs="String">
                <value>//android.widget.TextView[@text='1' and @index='0']</value>
            </setting>
            <setting name="ConfirmPassOrFail" serializeAs="String">
                <value>//android.widget.LinearLayout[@index='1']</value>
            </setting>
            <setting name="InsideSend" serializeAs="String">
                <value>//android.widget.ImageView[@index='0']</value>
            </setting>
            <setting name="FailedRetry" serializeAs="String">
                <value>//android.widget.TextView[@text='Retry' and @index='1']</value>
            </setting>
            <setting name="PassedReplay" serializeAs="String">
                <value>//android.widget.TextView[@text='Replay' and @index='1']</value>
            </setting>
            <setting name="PassFeedback" serializeAs="String">
                <value>//android.widget.TextView[@index='0']</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.SendSettings>
        <ZoneAppTesting.Functional.Settings.Sidebar.SidebarSettings>
            <setting name="AddCard" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Add Card']</value>
            </setting>
            <setting name="CardNumber" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/text_card_number</value>
            </setting>
            <setting name="ExpriyDate" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/label_expiry_date</value>
            </setting>
            <setting name="CardCCV" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/text_cvv</value>
            </setting>
            <setting name="CardPIN" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/text_pin</value>
            </setting>
            <setting name="AddCardButton" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/btn_add</value>
            </setting>
            <setting name="ExpiryMonth" serializeAs="String">
                <value>//android.widget.Button[@text='06']</value>
            </setting>
            <setting name="ExpiryYear_1" serializeAs="String">
                <value>//android.widget.Button[@text='1' and @index='0']</value>
            </setting>
            <setting name="ExpiryYear_2" serializeAs="String">
                <value>//android.widget.Button[@text='9' and @index='2']</value>
            </setting>
            <setting name="OKButton" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/done_button</value>
            </setting>
            <setting name="ExpiryDatePick" serializeAs="String">
                <value>//android.widget.TextView[@text='MM - YYYY']</value>
            </setting>
            <setting name="MyCards" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='My Cards']</value>
            </setting>
            <setting name="MakeCardDefault" serializeAs="String">
                <value>//android.widget.CheckBox[@text='Default Card' and @index='2']</value>
            </setting>
            <setting name="RemoveCard" serializeAs="String">
                <value>//android.widget.Button[@text='Remove Card' and @index='3']</value>
            </setting>
            <setting name="YesDefault" serializeAs="String">
                <value>//android.widget.Button[@text='Yes']</value>
            </setting>
            <setting name="RemoveCardYes" serializeAs="String">
                <value>//android.widget.Button[@text='Yes']</value>
            </setting>
            <setting name="NoDefault" serializeAs="String">
                <value>//android.widget.Button[@text='No']</value>
            </setting>
            <setting name="NoRemove" serializeAs="String">
                <value>//android.widget.Button[@text='No']</value>
            </setting>
            <setting name="ReportAProblem" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Report a Problem' and @index='0']</value>
            </setting>
            <setting name="ReportSubject" serializeAs="String">
                <value>//android.widget.EditText[@text='Subject' and @index='1']</value>
            </setting>
            <setting name="ReportDescribe" serializeAs="String">
                <value>//android.widget.EditText[@text='Describe your problem' and @index='3']</value>
            </setting>
            <setting name="ReportSubmitButton" serializeAs="String">
                <value>//android.widget.Button[@text='Submit' and @index='4']</value>
            </setting>
            <setting name="RateUs" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Rate us' and @index='0']</value>
            </setting>
            <setting name="AboutZone" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='About Zone' and @index='0']</value>
            </setting>
            <setting name="Share" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Share' and @index='0']</value>
            </setting>
            <setting name="Help" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Help' and @index='0']</value>
            </setting>
            <setting name="LogOut" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Log Out' and @index='0']</value>
            </setting>
            <setting name="Messages" serializeAs="String">
                <value>//android.widget.TextView[@text='Messages' and @index='1']</value>
            </setting>
            <setting name="Messenger" serializeAs="String">
                <value>//android.widget.TextView[@text='Messenger' and @index='1']</value>
            </setting>
            <setting name="WhatsApp" serializeAs="String">
                <value>//android.widget.TextView[@text='WhatsApp' and @index='1']</value>
            </setting>
            <setting name="AccountSettings" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Settings' and @index='0']</value>
            </setting>
            <setting name="SelectNetwork" serializeAs="String">
                <value>//android.widget.TextView[@text='Tap To Select a Network' and @index='1']</value>
            </setting>
            <setting name="RechargeAmount" serializeAs="String">
                <value>//android.widget.TextView[@text='Recharge Amount' and @index='0']</value>
            </setting>
            <setting name="AccountDetails" serializeAs="String">
                <value>//android.widget.TextView[@text='Account Details (Tap to Change)' and @index='0']</value>
            </setting>
            <setting name="QuickLaunch" serializeAs="String">
                <value>android:id/checkbox</value>
            </setting>
            <setting name="NetworkSelected" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Airtel' and @index='2']</value>
            </setting>
            <setting name="TypeAmount" serializeAs="String">
                <value>//android.widget.EditText[@index='0']</value>
            </setting>
            <setting name="TypeAmountOKButton" serializeAs="String">
                <value>//android.widget.Button[@text='OK' and @index='1']</value>
            </setting>
            <setting name="TypeAmountCancelButton" serializeAs="String">
                <value>android.widget.Button[@text='Cancel' and @index='0']</value>
            </setting>
            <setting name="DeviceBackButton" serializeAs="String">
                <value>//android.view.View[@index='2']</value>
            </setting>
            <setting name="RateUsValidate" serializeAs="String">
                <value>//android.widget.ImageView[@index='0']</value>
            </setting>
            <setting name="AboutUsValidate" serializeAs="String">
                <value>//android.widget.TextView[@text='Facebook' and @index='0']</value>
            </setting>
            <setting name="HelpValidate" serializeAs="String">
                <value>//android.widget.TextView[@text='Help' and @index='1']</value>
            </setting>
            <setting name="NetworkOperator" serializeAs="String">
                <value>//android.widget.TextView[@text='Network Operator' and @index='0']</value>
            </setting>
            <setting name="MessageDontSendButton" serializeAs="String">
                <value>//android.widget.Button[@text='Don't send' and @index='1']</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.Sidebar.SidebarSettings>
        <ZoneAppTesting.Functional.Settings.Sidebar.Sidebar>
            <setting name="AddCard" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Add Card']</value>
            </setting>
            <setting name="CardNumber" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/text_card_number</value>
            </setting>
            <setting name="ExpriyDate" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/label_expiry_date</value>
            </setting>
            <setting name="CardCCV" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/text_cvv</value>
            </setting>
            <setting name="CardPIN" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/text_pin</value>
            </setting>
            <setting name="AddCardButton" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/btn_add</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.Sidebar.Sidebar>
        <ZoneAppTesting.Functional.Settings.Auth.AuthExtended>
            <setting name="LInearLayout" serializeAs="String">
                <value>//android.widget.LinearLayout[@index='0']</value>
            </setting>
            <setting name="DateOfBirth" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/dob</value>
            </setting>
            <setting name="LinearLayoutYear" serializeAs="String">
                <value>//android.widget.LinearLayout[@index='0']</value>
            </setting>
            <setting name="DatePickerYear" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/date_picker_year</value>
            </setting>
            <setting name="AddMoreAccount" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/addMoreAcct</value>
            </setting>
            <setting name="AccountNumber" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/input_beneficiary</value>
            </setting>
            <setting name="BankName" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/bank_name</value>
            </setting>
            <setting name="SelectedBankName" serializeAs="String">
                <value>//android.widget.TextView[@text='Ecobank']</value>
            </setting>
            <setting name="AddAccountButton" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/action_send</value>
            </setting>
            <setting name="DoneButton" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/done_button</value>
            </setting>
            <setting name="SelectorHeader" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/selector_header</value>
            </setting>
            <setting name="SetupButton" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/setUp</value>
            </setting>
            <setting name="ExistingUser" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/detailsText</value>
            </setting>
            <setting name="ContinueButton" serializeAs="String">
                <value>//android.widget.Button[@text='Continue']</value>
            </setting>
            <setting name="LoginLink" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/have_an_acct</value>
            </setting>
            <setting name="LoginPhoneNumber" serializeAs="String">
                <value>//android.widget.EditText[@text='Phone number']</value>
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/password</value>
            </setting>
            <setting name="LoginButton" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/login</value>
            </setting>
            <setting name="SideBar" serializeAs="String">
                <value>//android.widget.ImageButton[@index='0']</value>
            </setting>
            <setting name="ChangePassword" serializeAs="String">
                <value>//android.widget.CheckedTextView[@text='Change Password']</value>
            </setting>
            <setting name="OldPassword" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/text_old_password</value>
            </setting>
            <setting name="NewPassword" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/text_new_password</value>
            </setting>
            <setting name="ConfirmNewPassword" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/text_confirm_password</value>
            </setting>
            <setting name="SaveNewPassowrdButton" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/btn_change</value>
            </setting>
            <setting name="LoginPasswordField" serializeAs="String">
                <value>//android.widget.EditText[@index='0']</value>
            </setting>
            <setting name="ForgotPasswordButton" serializeAs="String">
                <value>//android.widget.Button[@text='I forgot My Password']</value>
            </setting>
            <setting name="ReEnterPasswordButton" serializeAs="String">
                <value>//android.widget.Button[@text='Renter Password']</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>//android.widget.EditText[@index='0']</value>
            </setting>
            <setting name="AskSlide" serializeAs="String">
                <value>//android.widget.TextView[@text='Ask for Money from Friends' and @index='0']</value>
            </setting>
            <setting name="SlideIcons" serializeAs="String">
                <value>//android.widget.ImageView[@index='0']</value>
            </setting>
            <setting name="PaySlide" serializeAs="String">
                <value>//android.widget.TextView[@text='Pay for Goods with Ease' and @index='0']</value>
            </setting>
            <setting name="MerchantSlide" serializeAs="String">
                <value>//android.widget.TextView[@text='Merchant Services' and @index='0']</value>
            </setting>
            <setting name="SendSlide" serializeAs="String">
                <value>//android.widget.TextView[@text='Send Money to Friends' and @index='0']</value>
            </setting>
            <setting name="ZoneIcon" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/zone_ic</value>
            </setting>
            <setting name="LabelPresentOnPage" serializeAs="String">
                <value>//android.widget.TextView[@index='0']</value>
            </setting>
            <setting name="GoogleSignup" serializeAs="String">
                <value>//android.widget.Button[@text='Google' and @index='0']</value>
            </setting>
            <setting name="FacebookSignup" serializeAs="String">
                <value>//android.widget.Button[@text='Facebook' and @index='2']</value>
            </setting>
            <setting name="ProfileImage" serializeAs="String">
                <value>//android.widget.ImageView[@index='0']</value>
            </setting>
            <setting name="Camera" serializeAs="String">
                <value>//android.widget.TextView[@text='Camera' and @index='1']</value>
            </setting>
            <setting name="Documents" serializeAs="String">
                <value>//android.widget.TextView[@text='Documents' and @index='1']</value>
            </setting>
            <setting name="Gallery" serializeAs="String">
                <value>//android.widget.TextView[@text='Gallery' and @index='1']</value>
            </setting>
            <setting name="SelectProfileImage" serializeAs="String">
                <value>//android.widget.TextView[@index='1']</value>
            </setting>
            <setting name="SelectImage" serializeAs="String">
                <value>//android.view.View[@index='0']</value>
            </setting>
            <setting name="AccountEmail" serializeAs="String">
                <value>//android.widget.TextView[@index='1']</value>
            </setting>
            <setting name="AllowAccessEmail" serializeAs="String">
                <value>//android.widget.Button[@index='1' and @text='Allow']</value>
            </setting>
            <setting name="DenyAccessEmail" serializeAs="String">
                <value>//android.widget.Button[@index='0' and @text='Deny']</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.Auth.AuthExtended>
        <ZoneAppTesting.Functional.Settings.Auth.AuthSettings>
            <setting name="GetStartedButton" serializeAs="String">
                <value>//android.widget.Button[contains(@resource-id,'getStartedButton')]</value>
            </setting>
            <setting name="GetStartedLayout" serializeAs="String">
                <value>getStarted</value>
            </setting>
            <setting name="AppiumServerURL" serializeAs="String">
                <value>http://127.0.0.1:4723/wd/hub</value>
            </setting>
            <setting name="HTCDesire626sDevice" serializeAs="String">
                <value>HT577SY03629</value>
            </setting>
            <setting name="ZonePackageName" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp</value>
            </setting>
            <setting name="ZoneAppActivity" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.InviteCode</value>
            </setting>
            <setting name="HTCDesire626sVersionNumber" serializeAs="String">
                <value>5.1</value>
            </setting>
            <setting name="ImageContainerValidation" serializeAs="String">
                <value>//android.widget.RelativeLayout[contains(@resource-id,'img_container')]</value>
            </setting>
            <setting name="PhoneNumberField" serializeAs="String">
                <value>//android.widget.EditText[contains(@resource-id,'phoneNumber')]</value>
            </setting>
            <setting name="PasswordField" serializeAs="String">
                <value>//android.widget.EditText[contains(@resource-id,'password')]</value>
            </setting>
            <setting name="VerifyPasswordField" serializeAs="String">
                <value>//android.widget.EditText[contains(@resource-id,'verifyPassword')]</value>
            </setting>
            <setting name="LoginTextPage" serializeAs="String">
                <value>//android.widget.TextView[contains(@resource-id,'have_an_acct')]</value>
            </setting>
            <setting name="ProceedButton" serializeAs="String">
                <value>//android.widget.Button[contains(@resource-id,'proceed')]</value>
            </setting>
            <setting name="InviteCodeField" serializeAs="String">
                <value>//android.widget.EditText[contains(@resource-id,'invite_code')]</value>
            </setting>
            <setting name="VerifyInviteButton" serializeAs="String">
                <value>//android.widget.Button[contains(@resource-id,'verifyInvite')]</value>
            </setting>
            <setting name="FirstNameField" serializeAs="String">
                <value>//android.widget.EditText[contains(@resource-id,'firstName')]</value>
            </setting>
            <setting name="LastNameField" serializeAs="String">
                <value>//android.widget.EditText[contains(@resource-id,'lastName')]</value>
            </setting>
            <setting name="EmailField" serializeAs="String">
                <value>//android.widget.EditText[contains(@resource-id,'emailField')]</value>
            </setting>
            <setting name="DateOfBirthField" serializeAs="String">
                <value>//android.widget.TextView[contains(@resource-id,'dob')]</value>
            </setting>
            <setting name="GenderField" serializeAs="String">
                <value>//android.widget.TextView[contains(@resource-id,'gender')]</value>
            </setting>
            <setting name="SignUpButton" serializeAs="String">
                <value>//android.widget.Button[contains(@resource-id,'signUp')]</value>
            </setting>
            <setting name="DatePickerYearButton" serializeAs="String">
                <value>//android.widget.Button[contains(@resource-id,'date_picker_year')]</value>
            </setting>
            <setting name="MonthTextView" serializeAs="String">
                <value>//android.widget.TextView[contains(@resource-id,'month_text_view')]</value>
            </setting>
            <setting name="DoneButton" serializeAs="String">
                <value>com.appzonegroup.dejavuandroid.zoneRevamp:id/done_button</value>
            </setting>
            <setting name="ReEnterPasswordButton" serializeAs="String">
                <value>//android.widget.Button[contains(@resource-id,'positive')]</value>
            </setting>
            <setting name="ForgotPasswordButton" serializeAs="String">
                <value>//android.widget.Button[contains(@resource-id,'negative')]</value>
            </setting>
            <setting name="GenderSelect" serializeAs="String">
                <value>//android.widget.Button[contains(@resource-id,'spinner_item')]</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.Auth.AuthSettings>
        <ZoneAppTesting.Functional.Settings.Auth.Auth>
            <setting name="GetStartedButton" serializeAs="String">
                <value>getStartedButton</value>
            </setting>
            <setting name="GetStarted" serializeAs="String">
                <value>getStarted</value>
            </setting>
            <setting name="AppiumServer" serializeAs="String">
                <value>http://127.0.0.1:4723/wd/hub</value>
            </setting>
        </ZoneAppTesting.Functional.Settings.Auth.Auth>
    </userSettings>
</configuration>